@font-face{
	font-family: 'Noto';
	src: url('fonts/NotoSans-Regular.ttf');
}
@font-face{
	font-family: 'NotoThin';
	src: url('fonts/NotoSans-Thin.ttf');
}
@font-face{
	font-family: 'NotoBold';
	src: url('fonts/NotoSans-Bold.ttf');
}
/*Variables*/
:root{
	/*Native colours*/
	--default: #3EB7B1;
	--red: #B54747;
	--green: #58be48;
	--yellow: #e5e334;
	--blue: #5C76B1;
	--dark: #242424;
	--light: #F3F3F3;
	/*Native colours lighter*/
	--default-lighter: #74d0cb;
	--red-lighter: #cc7d7d;
	--green-lighter: #8ad17f;
	--yellow-lighter: #eceb71;
	--blue-lighter: #8d9fc8;
	/*Native colours darker*/
	--default-darker: #2b7f7b;
	--red-darker: #7e3131;
	--green-darker: #337429;
	--yellow-darker: #aeac16;
	--blue-darker: #3c517f;
	/*Native colours darker-2*/
	--default-darker-2: #1d5755;
	--red-darker-2: #572121;
	--green-darker-2: #23501c;
	--yellow-darker-2: #78770f;
	--blue-darker-2: #293857;
}
/*Big definintions*/
html{
	margin:0;
	padding:0;
}
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}
::selection {
	background-color: #36AA9D;
	color:white;
}
::-moz-selection {
	background-color: #36AA9D;
	color:white;
}
h1,h2{
	font-family:'NotoThin';
}
h3,h4,h5,h6{
	font-family:'Noto';
	font-weight: bolder;
}
h1{ font-size:2.5rem; }
h2{ font-size:2rem; }
h3{ font-size:1.75rem; }
h4{ font-size:1.5rem; }
h5{ font-size:1.25rem; }
h6{ font-size:1rem; }
p{
	line-height:22px;
	font-family:'Noto';
}
/*Colours*/
.default{
	background-color: var(--default);
	color:white !important;
}
.default-darken-1{
	background-color: var(--default-darker);
	color:white !important;
}
.default-darken-2{
	background-color: var(--default-darker-2);
	color:white !important;
}
.default-lighten{
	background-color: var(--default-lighter);
	color:white !important;
}

.red{
	background-color: var(--red);
	color:white !important;
}
.red-darken-1{
	background-color: var(--red-darker);
	color:white !important;
}
.red-darken-2{
	background-color: var(--red-darker-2);
	color:white !important;
}
.red-lighten{
	background-color: var(--red-lighter);
	color:white !important;
}

.green{
	background-color: var(--green);
	color:white !important;
}
.green-darken-1{
	background-color: var(--green-darker);
	color:white !important;
}
.green-darken-2{
	background-color: var(--green-darker-2);
	color:white !important;
}
.green-lighten{
	background-color: var(--green-lighter);
	color:white !important;
}

.yellow{
	background-color: var(--yellow);
	color:black !important;
}
.yellow-darken-1{
	background-color: var(--yellow-darker);
	color:black !important;
}
.yellow-darken-2{
	background-color: var(--yellow-darker-2);
	color:white !important;
}
.yellow-lighten{
	background-color: var(--yellow-lighter);
	color:black !important;
}

.blue{
	background-color: var(--blue);
	color:white !important;
}
.blue-darken-1{
	background-color: var(--blue-darker);
	color:white !important;
}
.blue-darken-2{
	background-color: var(--blue-darker-2);
	color:white !important;
}
.blue-lighten{
	background-color: var(--blue-lighter);
	color:white !important;
}

.dark{
	background-color: var(--dark);
	color:white !important;
}
.light{
	background-color: var(--light);
	color:black !important;
}
.white-text{
	color:white !important;
}
.black-text{
	color:black !important;
}
.gradient-red{
	background: #89216B;
    background: -webkit-linear-gradient(left, #89216B, #DA4453);
    background: -o-linear-gradient(left, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
	color:white;
}
.gradient-green{
	backround: #11998e;
	background: -webkit-linear-gradient(left, #11998e, #38ef7d);
	background: -o-linear-gradient(left, #11998e, #38ef7d);
	background: linear-gradient(to right, #11998e, #38ef7d);
	color:white;
}
.gradient-blue{
	background: #4e54c8;
	background: -webkit-linear-gradient(left, #4e54c8, #8f94fb);
	background: -o-linear-gradient(left, #4e54c8, #8f94fb);
	background: linear-gradient(to right, #4e54c8, #8f94fb);
	color:white;
}
/*Features*/
.link{
	text-decoration:none;
	color:var(--default-darker);
	text-transform: uppercase;
	transition: all .1s ease;
	font-weight: bolder;
}
.link:hover{
	color: var(--default);
}
.mobile{
	display:none;
}
.desktop-tablet{
	display:block;
}
.desktop{
	display: block;
}
.tablet-mobile{
	display:none;
}
@media only screen and (max-width: 425px){
	.desktop-tablet{
		display: none;
	}
	.mobile{
		display: block;
	}
}
@media only screen and (max-width: 768px){
	.desktop{
		display: none;
	}
	.tablet-mobile{
		display:block;
	}
}
.img-responsive{
	max-width: 100%;
	height:auto;
}
.img-circular{
	border-radius:50%;
}
.i-code{
	font-family: Courier;
	color:#C94133;
	padding:5px;
	background-color: #EFEFEF;
}
/*Text styles*/
.header{
	font-size:52px;
	margin-bottom:0;
	font-family: 'Noto';
}
.sub-header{
	font-size:34px;
	margin-bottom:10px;
	font-family: 'NotoThin';
}
.header + .sub-header{
	margin-top:0;
}
.trailer{
	font-family: 'NotoThin';
	font-size:24px;
	font-weight: bolder;
	line-height: normal;
	margin-top:0;
	margin-bottom:5px;
}
.brand-header{
	width:40%;
}
.italics{
	font-style: italic;
}
.bold{
	font-family: 'NotoBold' !important;
}
.error{
	padding:15px;
	font-size:18px;
	color:white;
	font-family: 'Noto';
	margin-bottom:10px;
	margin-top:5px;
	border-radius: 3px;
	width:98%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.error.success{
	background-color:#47A75B;
}
.error.problem{
	background-color: #DB6163;
}
.error.info{
	background-color: #3D7DC0;
}
.error-icon{
	font-size:24px;
	margin-right:5px;
	vertical-align: middle;
}
.separator{
	width:100%;
	height:1px;
	margin-top:0;
	margin-left:0;
	border: none;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.form-header{
	margin:0;
	margin-top:12px;
	margin-bottom:5px;
}
.promo{
	width:100%;
	height:auto;
}
.mute{
	color:#6E6E6E;
}
.important-1{
	font-weight:bolder;
	text-transform: uppercase;
}
.important-2{
	font-weight:bolder;
	text-transform: uppercase;
	font-size:24px;
}
.important-3{
	font-weight:bolder;
	font-size:24px;
}
.important-4{
	font-size:24px;
	font-family:'NotoThin';
	font-weight: bolder;
}
/*Containers*/
.container{
	margin-left:10%;
	margin-right:10%;
	margin-top:10px;
	padding:5px;
}
nav + .container, nav + #nav-mobile + .container{
	margin-top:60px;
}
.navigation + .container, .navigation + #nav-mobile + .container{
	margin-top:120px;
}
.container h1:first-child{
	margin-top:0;
}
.row{
	display:flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width:100%;
	margin:0;
}
.col{
	min-height:1px;
	margin:0;
	max-width: 100%;
}
.col > div{
	padding-right:15px;
}
.col1{
	flex: 1 1 8.333333%;
	max-width: 8.333333%;
}
.col2{
	flex: 1 1 16.666667%;
	max-width: 16.666667%;
}
.col3{
	flex: 1 1 25%;
	max-width: 25%;
}
.col4{
	flex: 1 1 33.333333%;
	max-width: 33.333333%;
}
.col5{
	flex: 1 1 41.666667%;
	max-width: 41.666667%;
}
.col6{
	flex: 1 1 50%;
	max-width: 50%;
}
.col7{
	flex: 1 1 58.333333%;
	max-width: 58.333333%;
}
.col8{
	flex: 1 1 66.666667%;
	max-width: 66.666667%;
}
.col9{
	flex: 1 1 75%;
	max-width: 75%;
}
.col10{
	flex: 1 1 83.333333%;
	max-width: 83.333333%;
}
.col11{
	flex: 1 1 91.666667%;
	max-width: 91.666667%;
}
.col12{
	flex: 1 1 100%;
	max-width: 100%;
}

@media only screen and (max-width: 425px){
	.row{
		display: block;
		flex-wrap: nowrap;
	}
	.col{
		width:100%;
		max-width: 100%;
		flex-basis: 100%;
		margin:0;
		margin-bottom:10px;
	}
}
@media only screen and (max-width: 768px){
	.row.pile-tablet{
		display:block;
		flex-wrap: nowrap;
	}
	.row.pile-tablet .col{
		width:100%;
		max-width: 100%;
		flex-basis: 100%;
		margin:0;
		margin-bottom:10px;
	}
}
.box{
	width:75%;
	padding:30px;
	border: 1px solid #d6d6d6;
	border-radius:5px;
	margin-bottom:10px;
	display:block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
}
@media only screen and (max-width:425px){
	.box{
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	}
}
.box-title{
	margin-top:0;
}
.col .box{
	width:85%;
}
/*Positioning classes*/
.no-mar{
	margin:0 !important;
}
.top{
	margin-top:10px !important;
}
.bottom{
	margin-bottom:10px !important;
}
.right{
	margin-right:10px !important;
}
.left{
	margin-left:10px !important;
}
.right-float{
	float:right !important;
}
.center{
	margin:0 auto !important;
}
/*Hero*/
.hero{
	height:50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav + .hero{
	margin-top:50px;
}
@media only screen and (max-width:768px){
	nav + .hero{
		margin-top:61px;
	}
}
.hero .hero-content{
	text-align: center;
	color:white;
}
.hero .hero-content .title{
	font-size:62px;
	margin-bottom:0;
	margin-top:0;
	padding:0;
	font-family: 'NotoThin';
}
.hero .hero-content .caption{
	font-size:20px;
	margin-top:5px;
	font-family: 'Noto';
}
/*Extra nav*/
.navigation{
	width:100%;
	color:white;
	height:50px;
	position:fixed;
	top:0;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	overflow:auto;
	white-space:nowrap;
	z-index:960;
	padding-left:10%;
	overflow-y: hidden;
}
.navigation p{
	display:inline-block;
	font-family:'Noto';
	margin-right:5px;
	top:50%;
}
.navigation p a{
	color:white;
	text-decoration: none;
}
.navigation p.bold{
	font-weight:bolder;
	font-family:'Noto';
	font-size:20px;
	margin-right:10px;
}
.navigation .section:not(:first-child){
	margin-left:35px;
}
nav + .navigation{
	top:50px;
	box-shadow:0px 2px 8px 0px rgba(50, 50, 50, 0.5);
}
@media only screen and (max-width:768px){
	nav + .navigation{
		top:61px;
	}
}
/*Project cards*/
.project{
	cursor:pointer;
	margin-bottom:10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project .body{
	padding:6px 20px 5px 20px;
	margin-bottom:0;
	color:white;
	text-align: justify;
	transition: all .1s linear;
	border-radius: 3px 3px 0 0;
}
.project .body .title{
	padding:5px 0;
	margin-bottom:0;
	font-family: 'NotoThin';
}
.project .footer{
	padding: 15px 0 1px 20px;
	margin-top:0;
	transition: all .1s linear;
	border-radius: 0 0 3px 3px;
}
.project.default .footer{
	background-color:var(--default-darker);
}
.project.red .footer{
	background-color:var(--red-darker);
}
.project.green .footer{
	background-color: var(--green-darker);
}
.project.yellow .footer{
	background-color: var(--yellow-darker);
}
.project.blue .footer{
	background-color: var(--blue-darker);
}
.project .footer .footer-text{
	margin-top:0;
	color:#D7D7D7;
	text-transform: uppercase;
	font-family: 'Noto';
}
.project.default:hover .footer{ background-color: var(--default-darker-2); }
.project.red:hover .footer{ background-color: var(--red-darker-2); }
.project.green:hover .footer{ background-color: var(--green-darker-2); }
.project.yellow:hover .footer{ background-color: var(--yellow-darker-2); }
.project.blue:hover .footer{ background-color: var(--blue-darker-2); }

.project.default:hover .body{ background-color: var(--default-darker); }
.project.red:hover .body{ background-color: var(--red-darker); }
.project.green:hover .body{ background-color: var(--green-darker); }
.project.yellow:hover .body{ background-color: var(--yellow-darker); }
.project.blue:hover .body{ background-color: var(--blue-darker); }
.project.yellow .body, .project.yellow .footer .footer-text{ color:black !important; }
/*Buttons*/
.btn{
	padding:10px 20px;
	border:none;
	color:white;
	font-family:'Noto',sans-serif;
	font-size:18px;
	text-transform: uppercase;
	transition:all .2s ease;
	text-decoration: none;
	margin-top:10px;
	border-radius:5px;
	outline:none;
	cursor:pointer;
	box-sizing: border-box;
}
.btn-grad{
	padding:10px 25px;
	border:none;
	color:white;
	font-family:'NotoThin',sans-serif;
	font-size:20px;
	transition:all .4s ease;
	text-decoration: none;
	margin-top:10px;
	border-radius:25px;
	cursor:pointer;
	outline:none;
	box-sizing: border-box;
}
.btn-large{
	font-size:22px;
	padding:15px 30px;
}
.btn-grad.btn-large{
	padding:15px 37.5px;
	border-radius: 37.5px;
}
.btn-small{
	font-size:14px;
	padding:7.5px 15px;
}
.btn-grad.btn-small{
	padding:7.5px 18.75px;
	border-radius:18.75px;
}
.btn-fluid{
	width:100%;
}
a.btn-fluid{
	display:inline-block;
	width:100%;
	text-align: center;
}
.btn-grad:hover{
	box-shadow: 5px 5px 25px -6px rgba(0,0,0,0.75);
}
.btn-grad.btn-grad-red{
	background: #DA4453;
    background: -webkit-linear-gradient(left, #89216B, #DA4453);
    background: -o-linear-gradient(left, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
}
.btn-grad.btn-grad-green{
	background: -webkit-linear-gradient(left, #11998e, #38ef7d);
	background: -o-linear-gradient(left, #11998e, #38ef7d);
	background: linear-gradient(to right, #11998e, #38ef7d);
}
.btn-grad.btn-grad-blue{
	background: -webkit-linear-gradient(left, #4e54c8, #8f94fb);
	background: -o-linear-gradient(left, #4e54c8, #8f94fb);
	background: linear-gradient(to right, #4e54c8, #8f94fb);
}
.btn.btn-default{
	background-color: var(--default);
}
.btn.btn-blue{
	background-color: var(--blue);
}
.btn.btn-yellow{
	background-color: var(--yellow);
	color:black !important;
}
.btn.btn-red{
	background-color: var(--red);
}
.btn.btn-green{
	background-color: var(--green);
}
.btn.btn-dark{ background-color: var(--dark); }
.btn.btn-light{ background-color: var(--light); color: black !important; }
.btn-outline{
	background-color:white !important;
}
.btn-outline.btn-default{
	border:2px solid var(--default);
	color:var(--default) !important;
}
.btn-outline.btn-yellow{
	border:2px solid var(--yellow);
	color:var(--yellow) !important;
}
.btn-outline.btn-blue{
	border:2px solid var(--blue);
	color:var(--blue) !important;
}
.btn-outline.btn-red{
	border:2px solid var(--red);
	color:var(--red) !important;
}
.btn-outline.btn-green{
	border:2px solid var(--green);
	color:var(--green) !important;
}
.btn-outline.btn-dark{
	border:2px solid var(--dark);
	color:var(--dark) !important;
}
.btn-outline.btn-light{
	border:2px solid var(--light);
	color:black !important;
}
.btn:hover{
	cursor:pointer;
	color:white !important;
}
.btn.btn-default:hover{
	background-color: var(--default-darker) !important;
}
.btn.btn-blue:hover{
	background-color: var(--blue-darker) !important;
}
.btn.btn-yellow:hover{
	background-color: var(--yellow-darker)!important;
	color:black !important;
}
.btn.btn-red:hover{
	background-color: var(--red-darker) !important;
}
.btn.btn-green:hover{
	background-color: var(--green-darker) !important;
}
.btn.btn-dark:hover{
	background-color: black !important;
}
.btn.btn-light:hover{
	background-color: #E0E0E0 !important;
	color:black !important;
}
.btn-outline.btn-default:hover{
	background-color: var(--default) !important;
}
.btn-outline.btn-blue:hover{
	background-color: var(--blue) !important;
}
.btn-outline.btn-yellow:hover{
	background-color: var(--yellow)!important;
	color:black !important;
}
.btn-outline.btn-red:hover{
	background-color: var(--red) !important;
}
.btn-outline.btn-green:hover{
	background-color: var(--green) !important;
}
.btn-outline.btn-dark:hover{
	background-color: var(--dark) !important;
}
.btn:disabled, .btn.btn-disabled{
	background-color: #6B6B6B;
	cursor:default;
}
.btn.btn-disabled{
	pointer-events: none;
	tab-index: -1;
}
.btn:disabled:hover, .btn.btn-disabled:hover{
	background-color:#6B6B6B !important;
	cursor:not-allowed;
}
/*Person*/
.person{
	width:100%;
	padding:15px;
	border-radius: 3px;
	margin:0 auto;
	color: white;
	margin-bottom:10px;
}
.person .link{
	color:white;
}
.person .image{
	display: inline;
	width:10%;
	vertical-align: middle;
}
.person .identifier{
	display:inline-block;
}
.person .name{
	font-family: 'Noto', sans-serif;
	font-size:34px;
	display:inline-block;
	margin: 15px 0 5px 10px;
	line-height: 100% !important;
}
.person .role{
	display:block;
	margin: 0 0 0 10px;
	text-transform: uppercase;
	font-weight: bolder;
}
.person .links{
	display:inline-block;
	float:right;
}
.person .links a{
	text-decoration:none;
	color:white;
	text-transform: uppercase;
	transition: all .1s ease;
	font-weight: bolder;
}
.person .content .description{
	margin: 10px 0 0 0;
}
@media only screen and (max-width: 425px){
	.person .identifier{
		display:block;
	}
	.person .name{
		margin: 0;
		text-align:center;
		display:block;
	}
	.person .role{
		margin:0;
		text-align:center;
	}
	.person .links{
		margin:0;
		display:block;
		float:none;
		text-align:center;
	}
	.person .image{
		width:50%;
		display:block;
		margin:0 auto;
	}
}
@media only screen and (max-width:375px){
	.person{
		width:85%;
	}
}
/*Comments*/
.comments{
	margin-top: 10px;
}
.comments .new{
	margin-bottom:5px;
}
.comments .new .btn{
	margin-top:5px;
}
.comments .comment{
	border-radius:3px;
	border: 1px solid gray;
	margin-bottom:10px;
}
.comments .comment .body{
	padding: 5px 15px;
}
.comments .comment .separator{
	margin-bottom:0;
}
.comments .comment .footer{
	margin-top:0;
	background-color: #EDEDED;
	height:100%;
	padding: 10px 15px;
}
.comments .comment .footer p{
	margin:0;
	font-family: 'Noto', sans-serif;
	text-transform: uppercase;
	color:#333333;
}
.comments .comment .footer a{
	text-decoration: none;
	color:#333333;
}
/*Footer*/
footer{
	margin-top:30px;
	color:white;
	margin-bottom:0;
}
footer .body{
	padding: 15px 10% 0 10%;
	display:inline-flex;
	justify-content: flex-end;
}
footer .body .content{
	width:60%;
}
footer .body .content h1{
	margin:0;
	font-family: 'NotoThin', sans-serif;
	font-size:24px;
}
footer .body .content h1::after{
	margin:0;
}
footer .body .links{
	width:40%;
	display:inline-flex;
	justify-content: flex-end;
}
footer .body .links ul{
	margin-top:0;
	list-style-type: none;
}
footer .body .links ul li{
	margin: 5px 0;
}
footer .body .links ul li a{
	text-decoration:none;
	color:white;
	text-transform: uppercase;
	transition: all .1s ease;
	font-weight: bolder;
	font-size:14px;
}
footer .bottom{
	padding: 5px 10%;
	margin-bottom:0 !important;
}
footer.default .bottom{
	background-color: var(--default-darker);
}
footer.red .bottom{
	background-color: var(--red-darker);
}
footer.green .bottom{
	background-color: var(--green-darker);
}
footer.yellow .bottom{
	background-color: var(--yellow-darker);
}
footer.blue .bottom{
	background-color: var(--blue-darker);
}
footer .body .links ul li.header{
	font-size:18px;
}
footer .link{
	color:white;
}
@media only screen and (max-width: 944px){
	footer .body{
		display: block;
		justify-content: flex-start;
	}
	footer .body .content, footer .body .links{
		width:100%;
	}
	footer .body .links{
		justify-content:flex-start;
		margin:0;
		width:100%;
	}
	footer .body .links ul{
		padding:0;
		padding-right:10px;
	}
}
@media only screen and (max-width: 320px){
	footer .body .links{
		display:block;
		margin: 0 auto;
	}
	footer .body .links ul{
		padding:0;
	}
}
/*Navbar*/
nav{
	margin:0;
	padding:0;
	font-family:'Noto' !important;
	display:flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	z-index: 999;
	box-shadow:0px 2px 8px 0px rgba(50, 50, 50, 0.5);
	position: fixed;
	top:0;
	width:100%;
}
nav ul{
	list-style-type: none;
	margin:0;
	padding:0 10%;
	overflow:hidden;
	display:flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
nav ul .nav-brand-text{
	display:block;
	color:white;
	margin:0;
	text-align: center;
	text-decoration: none;
	font-family: 'NotoThin';
	font-size:24px;
}
nav ul .nav-brand-container{
	display:block;
	margin:0;
	text-align: center;
}
nav ul .nav-brand-image{
	width:auto;
	height:35px;
	fill:white;
}
nav ul .nav-item{ float:left; }
nav ul .nav-item a{
	display:block;
	color:white;
	text-align: center;
	padding:14px 18px;
	text-decoration: none;
	transition: all .3s ease;
	white-space: nowrap;
}
nav.default ul .nav-item.active a{ background-color:var(--default-lighter); }
nav.red ul .nav-item.active a{ background-color:var(--red-lighter); }
nav.green ul .nav-item.active a{ background-color:var(--green-lighter); }
nav.blue ul .nav-item.active a{ background-color:var(--blue-lighter); }
nav.yellow ul .nav-item.active a{ background-color:var(--yellow-lighter); }
nav.dark ul .nav-item.active a{ background-color:#3B3B3B; }
nav.light ul .nav-item.active a{ background-color:#FFFFFF; }

nav.default ul .nav-item a:hover{ background-color: var(--default-darker) }
nav.red ul .nav-item a:hover{ background-color: var(--red-darker) }
nav.green ul .nav-item a:hover{ background-color: var(--green-darker) }
nav.blue ul .nav-item a:hover{ background-color: var(--blue-darker) }
nav.yellow ul .nav-item a:hover{ background-color: var(--yellow-darker) }
nav.dark ul .nav-item a:hover{ background-color: black }
nav.light ul .nav-item a:hover{ background-color: #DCDCDC }
nav.light ul .nav-item a, nav.light, nav.light ul .nav-brand-text{
	color:black !important;
}
.nav-mobile-open{ 
	display:none;
	cursor: pointer;
}
@media only screen and (max-width:768px){
	nav{
		display:block;
		height:61px;
	}
	nav ul.nav-right{
		display:none;
	}
	nav ul.nav-left{
		padding:14px 10%;
	}
	nav ul.nav-left li{
		text-align: center;
	}
	.nav-mobile-open{
		font-size:24px;
		display:block;
	}
}
#nav-mobile{
	height:100%;
	width:0;
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	background-color: black;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top:60px;
	transition: 0.5s;
}
#nav-mobile .close{
	position:absolute;
	top:0;
	right:25px;
	font-size:36px;
	font-family: 'NotoThin';
	margin-left:50px;
	color:white;
	text-decoration: none;
}
#nav-mobile a:not(.close){
	padding:8px;
	text-decoration: none;
	color:white;
	font-size:24px;
	font-family: 'Noto';
	display:block;
	transition: 0.3s;
	text-align:center;
}
/*Forms*/
input[type='email'],input[type='text'],input[type='password'],textarea{
	font-family:'Noto',sans-serif;
	font-size:20px;
	width:100%;
	padding:5px;
	transition: box-shadow .3s ease;
	margin-bottom:10px;
	border-radius:6px;
	border: 1px solid #A4A4A4;
}
input[type='email']:focus,input[type='text']:focus,input[type='password']:focus,textarea:focus{
	box-shadow: 0 0 0 4px rgba(99, 130, 242, 0.7);
	outline:none;
}
input[type='submit']{
	background-color:#1E75DC;
	padding:10px 20px;
	border:none;
	color:white;
	font-family:'Noto',sans-serif;
	font-size:18px;
	text-transform: uppercase;
	transition:all .1s linear;
	text-decoration: none;
	margin-top:10px;
	border-radius:5px;
}
input[type='submit']:hover{
	background-color:#478FE5;
	cursor:pointer;
}
input[type='radio']{
	visibility:hidden;
	position:absolute;
}
input[type='radio']+label:before{
	height:16px;
	margin-right: 4px;
	content: " ";
	display:inline-block;
	vertical-align: baseline;
	border:1px solid #ccc;
	border-radius:10px;
	box-shadow: inset 0px 0px 10px 10px rgba(209,209,209,1);
	transition: all .1s linear;
	cursor:pointer;
}
.radio-group{
	margin-bottom:5px;
}
.radio-label{
	font-size:18px;
}
input[type='radio'] + label:before{
	border-radius:50%;
	width:16px;
}
input[type='radio']:checked + label:before{
	box-shadow: inset 0px 0px 0px 21px #57def9;
}
input[type='checkbox']{
	visibility:hidden;
	position:absolute;
}
input[type='checkbox']+label:before{
	height:16px;
	margin-right: 4px;
	content: " ";
	display:inline-block;
	vertical-align: baseline;
	border:1px solid #ccc;
	box-shadow: inset 0px 0px 10px 10px rgba(209,209,209,1);
	transition: all .1s linear;
	cursor:pointer;
}
input[type='checkbox'] + label:before{
	width:16px;
}
input[type='checkbox']:checked + label:before{
	box-shadow: inset 0px 0px 0px 21px #57def9;
}
.check-group{
	margin-bottom:5px;
}
.check-label{
	font-size:18px;
}
select{
	font-size:20px;
	margin-bottom:10px;
}